# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
InfectStatistic-example.iml
221701101/src/PrintTest.java
221701101/src/InfectStatisticTest.java
221701101/src/InfectStatisticTest.java
221701101/src/InfectStatisticTest.java
221701101/log/2020-01-22.log.txt
221701101/log/2020-01-22.log.txt
221701101/log/2020-01-23.log.txt
221701101/log/2020-01-27.log.txt
*.md
*.txt
*.txt
221701101/src/InfectStatisticTest.java
221701101/result/ListOut1.txt
221701101/result/ListOut2.txt
221701101/result/ListOut3.txt
*.class
*.txt
*.txt
*.txt
/log/
/out/
!/src/*.class
